@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --brand: #05db04;
  --brand-dark: #04b803;
  --brand-light: #e6ffe6;
  --brand-hover: #04c903;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-dark: var(--brand-dark);
  --color-brand-light: var(--brand-light);
  --color-brand-hover: var(--brand-hover);
  --font-sans: var(--font-ibm-plex);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex), "IBM Plex Sans Thai", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
